<div class="container", style="padding-top: 60px;">
	<% if notice %>
		<p><%= notice %></p>
	<% end %>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1>welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>  !!</h1>
				<p style="line-height: 2;">in <span class="glyphicon glyphicon-book"></span><stong>Bookers,</stong><br>
					you can share and exchange your opinions , impressions, and emotions<br>
					about various books!
				</p>
			<div class="row">
				<%= link_to 'Log in', user_session_path, class:"col-xs-10 col-xs-offset-1 btn btn-info" %>
			</div>
			<div class="row">
				<%= link_to 'Sign Up', new_user_registration_path, class:"col-xs-10 col-xs-offset-1 btn btn-success" %>
			</div>
		</div>
	</div>
</div>